.pre-save-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-container {
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .pre-save-wrapper {
    flex-direction: row;
  }

  .home-container {
    margin-bottom: 0;
  }
}
