.pre-save-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 700px) {
  .pre-save-wrapper {
    flex-direction: row;
  }
}

.home-container {
  margin-bottom: 50px;
}
