.live-div {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.live-header {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
  padding-top: 70px;
  background: var(--clr-dark);
  text-align: center;
  letter-spacing: 5px;
}

.seated-event-description-cells {
  color: white;
}

.seated-follow-text {
  margin: 15px;
  color: white;
}

.seated-events-table {
  border: none !important;
  /* padding: 0 !important; */
  /* margin: 0 !important; */
  background: transparent !important;
}

.seated-no-events {
  border: none !important;
  /* padding: 0 !important; */
  /* margin: 0 !important; */
  background: transparent !important;
  color: white;
}

@media (max-width: 500px) {
  .live-div {
    margin: 0 30px;
  }
}
