.live-div {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.live-page {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Makes it take the remaining space */
}

.live-header {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
  padding: 8vh 20px;
  background: var(--clr-dark);
  text-align: center;
  letter-spacing: 5px;
}

.seated-event-description-cells {
  color: white;
}

.seated-follow-text {
  margin: 15px;
  color: white;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

.seated-events-table {
  border: none !important;
  /* padding: 0 !important; */
  /* margin: 0 !important; */
  background: transparent !important;
}

.seated-no-events {
  border: none !important;
  /* padding: 0 !important; */
  /* margin: 0 !important; */
  background: transparent !important;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.seated-follow-link {
  border-radius: 25px;
  background: red;
}

@media (max-width: 500px) {
  .live-div {
    margin: 0 30px;
  }

  .live-page {
    min-height: 65vh;
  }
}
